html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  color: #081143;
  font-size: 2rem;
}
.navigation {
  padding: 1rem 2rem;
}
.navigation a {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #081143;
}
.navigation a p {
  margin: 0;
}
.navigation a img {
  width: 3rem;
  height: 3rem;
}

.landing-container {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 45rem;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}
.header {
  height: 100vh;
  background-image: linear-gradient(#e8ebfc, #e8ebfc);
}
nav {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  padding-top: 20px;
}

.landing-container img {
  max-width: 60%;

  justify-self: center;
}
h1 {
  font-size: 3rem;
  line-height: 1.02;
  margin-bottom: 32px;
}
p {
  line-height: 1.6;
  margin-bottom: 48px;
}

.btn {
  padding: 1.2rem 1.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
  border-radius: 9px;
  width: fit-content;
  border: none;
  color: #cecfd9;
  cursor: pointer;
  transition: all 0.4s;
}
.btn-primary {
  background-color: #081143;
}

.btn-primary:hover {
  background-color: #212956;
  color: #e6e7ec;
}
.btn-secondary {
  background-color: #fff;
  color: #081143;
  box-shadow: inset 0 0 0 1px #8488a1;
  margin-left: 1rem;
  display: inline-block;
  width: 150px;
}

.btn-secondary:hover {
  box-shadow: inset 0 0 0 2px #081143;
}

@media (max-width: 742px) {
  .landing-container {
    grid-template-columns: 1fr;
    margin: 0 2rem;
    margin-top: 2rem;
    gap: 2rem;
  }
  .landing-container img {
    grid-row: 1/2;
  }

  .landing-container--inner {
    align-self: self-start;
  }
}
